<div class="container">
  <div class="user-details">
    <h3> My Profile </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis nisi eu justo tempor consectetur. Aliquam erat volutpat. Vivamus convallis ante sed arcu ornare ultricies. Cras sit amet turpis nisl. Proin fringilla, velit et sagittis interdum, orci odio mollis arcu, eu ultricies lectus est et erat. Etiam at lobortis mi. Morbi consequat lacus vitae magna tincidunt ullamcorper. Vestibulum pretium libero eros, a faucibus erat convallis vehicula. Duis in lorem molestie, mollis nulla et, tincidunt neque. Fusce tempor lectus et bibendum aliquet. Suspendisse sed scelerisque magna. </p>
    <!--<p> {{site.user_description}} </p> -->
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Frameworks</h4>
      <i class="devicon-rails-plain-wordmark colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-django-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-ruby-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO</p>
    </div>
    <div class="four columns">
      <h4>DevOps & Databases</h4>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO</p>
    </div>
  </div>
</div>
